<div class="main-content">
  <!-- Side Menu -->
  <app-menupanel class="left-panel"
    [sets]="sets"
    [currentSetIdx]="currentSetIndex"
    (onSelectSet)="onSelectSet($event)"
    (onNewSet)="onNewSet()"
    (onDeleteSet)="onDeleteSet($event)"
  >
  </app-menupanel>

  <div class="right-content">
    <div class="enter-container fr">

    </div>
    <div class="track-container fr">
      <app-tracklist
        [set]="sets[currentSetIndex]"
        (onSetChange)="onSetChange($event)"
      >

      </app-tracklist>
    </div>
  </div>
</div>