<div>
  <div class="no-track-message" *ngIf="set && set.tracks.length === 0"> 
    <span class="grey">Add Some Sweet Tracks!</span>
  </div>
  <div >
    <h1
      *ngIf="!isEditingTitle"
      (click)="titleEdit()"
      class="title-display"
    >
      {{set.title || 'Title Goes Here'}}
    </h1>
    <input 
      *ngIf="isEditingTitle"
      [(ngModel)]="set.title"
      (input)="onTitleChange()"
      (keyup.enter)="finishTitle()"
      class="title-input"
    />
  </div>
  <app-tracklisting 
    *ngFor="let track of set.tracks"
    [track]="track"
    (onTrackDelete)="onTrackDelete($event)"
    (onTrackEdit)="onTrackEdit($event)"
  >
  </app-tracklisting>
  <track-form
    [currentTrack]="currentEdit"
    (onNewTrack)="onNewTrack($event)"
  >
  </track-form>
</div>
