<div class='container'>
    <div>
        <div
            class="set"
            (click)="onSelectSet.emit(i)"
            *ngFor="let set of sets; let i = index"
        >
            <div>{{set.title}}</div>
            <div class="set-date">@{{set.lastTouched | date:'MM/dd/yyyy h:mm'}}</div>
            <div>
                <i 
                    class="bx bx-tag"
                ></i>
                <i 
                    class="bx bx-x"
                    (click)="onDeleteSet.emit(i)"
                ></i>
            </div>
        </div>
        <div>
            <button 
                type="submit" 
                class="confirm-track-button"
                (click)="onNewSet.emit()"
            >
                New Set
            </button>
        </div>
    </div>
</div>
